<div class="login">
    <h3>Login: </h3>
    @model LoginValidate
    <form asp-action="LoginProcess" asp-controller="Home" method="post">
    <span style="color:red" asp-validation-for="login_email"></span>
        <p>
            <label asp-for="login_email">Email: </label>
            @ViewBag.error
            @TempData["error"]
            <input type='text' asp-for='login_email'>
        </p>
        <span style="color:red" asp-validation-for="login_password"></span>
        <p>
            <label asp-for="login_password">Password: </label>
            <input type='password' asp-for='login_password'>
        </p>
        <p><input type='submit' value='Submit'></p>
    </form>
</div>